body {
  text-align: center;
}
.shoeContainer{
  display: flex;
  flex-wrap: wrap;
  padding: 20px;
}
.shoeContainer > .link {
  width: 300px;
  box-shadow: 0 0 10px hsl(212, 94%, 51%);
  align-items: center;
  text-align: center;
  margin: auto;
}
.shoeContainer > .link:hover {
  background-color: rgb(211, 171, 248);
  box-shadow: 0 0 10px rgb(248, 13, 236);
}
.homepage {
  display: flex;
  flex-wrap: wrap;
  margin-top: 300px;
}
.homepage > :link {
  box-shadow: 0 0 10px hsl(212, 94%, 51%);
  align-items: center;
  text-align: center;
  margin: auto;
}
.shoe {
  width: 500px;
  box-shadow: 0 0 10px hsl(212, 94%, 51%);
  align-items: center;
  text-align: center;
  margin: auto;
}
.button {
  float: right;
  display:display-box;
  width:300px;
  height:40px;
  font-size: large;
  color:rgb(1, 7, 24);
  background-color: rgb(156, 179, 247);
  cursor: pointer;
}